@* CSS ve JS dosyalarınızı ekleyin *@
<link href="~/css/site.css" rel="stylesheet" />
<script src="~/js/site.js"></script>

@using GriffindorBlog.Database.Entities;
@model User

<form asp-controller="Blog" asp-action="Login" method="post" class="text-md-center">
    <div class="container" style="width: 800px; margin-top: 100px;">
        <span style="font-size: 50pt">Griffindor Blog</span>
        <div class="container-fluid">
            <div style="width: 100%; max-width: 500px; margin: auto;">
            </div>
        </div>
        <hr />

        <div class="row justify-content-center">
            <div class="col-sm-4 col-md-6">
                <div class="input-group mt-4">
                    <span class="input-group-text" id="basic-addon1">&#128100;</span>
                    <input type="text" class="form-control" placeholder="Username" asp-for="UserName" aria-label="Username" aria-describedby="basic-addon1" />
                </div>
            </div>

            <div class="col-sm-4 col-md-6">
                <div class="input-group mt-4">
                    <span class="input-group-text" id="basic-addon1">&#128273;</span>
                    <input type="password" class="form-control" placeholder="Password" asp-for="Password" aria-Label="Password" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6">
                <input type="submit" class="btn btn-outline-success btn-block" value="Sign In!" />
            </div>
            <div class="col-md-6">
                <a asp-controller="Blog" asp-action="Register" input type="button" class="btn btn-outline-warning btn-block">Register Now!</a>
            </div>
        </div>
    </div>
    <hr />
</form>
